{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/choice-image.jpg' %}" style="border-radius: 10px;" class="img-fluid" alt=""/>
  <h1 class="mt-2">Choice Pro</h1>
  <p class="lead mt-4">Record all your choices you make in day to day life.</p>

  {% if user.is_authenticated %}
  <a href="{% url 'choices:choices' %}" class="btn btn-primary" role="button">Record Choice</a>
  {% else %}
  <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Log in</a>
  <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign up</a>
  {% endif %}

</div>
{% endblock content %}
