{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Choices{% endblock %}

{% block content %}
<h2>Create Choice</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Create</button>
</form>
<h2 class="mt-5">Choices</h2>
<table class="table mb-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Choice</th>
      <th scope="col">Choice</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for choice in choices %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ choice.date }}</td>
      <td>{{ choice.choice_text }}</td>
      <td>{{ choice.choice_description }}</td>
    </tr>
    {% endfor %}
  </tbody>

{% endblock content %}